body {
    background-image: url('/images/bg-plants.jpg');
    background-size: 100% 100%;
}

nav {
    background-color: #98A731;
    padding: 10px;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 35px;
}

nav a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:hover {
    color: #652F2D;
}

main {
    max-width: 100%;
    padding: 20px 20px 40px;
    background-color: #FDFEF6;
    margin-top: 45px;
}

h1 {
    text-align: center;
    color: #652F2D;
}

img {
    width: 100%;
}

p {
    font-size: 1.2em;
}

.not-found-img {
    height: 70%;
    width: 60%;
}

.btn {
    background-color: #85413e;
    color: white;
}

.btn:hover {
    background-color: #652F2D;
    color: white;
}

.badge-pill {
    background-color: #98A731;
    margin: 1.5px;
}

.index-links {
    color: #98A731;
}

.index-links:hover {
    color: #c6da44;
}

.p-form {
    color: red;
    font-size: .8em;
}

.p-404 {
    font-size: 2em;
}

.app-logo {
    width: 50px;
    height: 50px;
}

#main-nav {
    display: flex;
    align-items: flex-end;
}

#logo-name-container {
    display: flex;
    align-items: flex-end;
    margin: 0 50px 0 40px;
}

#logo-name-container p {
    font-size: 1.7em;
    margin-bottom: 0;
    color: #652F2D;
}

#logo-name-container p:hover {
    text-decoration: underline;
}